<form>
  <table class="list issues">
    <thead>
      <tr>
        <th></td>
        <th>Subject</td>
        <th>Status</td>
        <th>Assignee</td>
        <th>Estimated</td>
        <th>Spent</td>
      </tr>
    </thead>
    <tbody>
      <%
        issue_list(issue.descendants.visible.sort_by(&:lft)) do |child, level|
          css_class = "issue issue-#{child.id} status-#{child.status.id} hascontextmenu"
          css_class << " idnt idnt-#{level}" if level > 0
          estimated_hours = child.estimated_hours
          spent_hours = child.spent_hours
          hours_css_class = ''
          if estimated_hours && spent_hours
            hours_css_class = spent_hours > estimated_hours ? 'hours_overdue' : 'hours_on_schedule'
          end
      %>
        <tr class="<%= css_class %>">
          <td class="checkbox">
            <%= check_box_tag("ids[]", child.id, false, :id => nil) %>
          </td>
          <td class="subject">
            <%= modified_link_to_issue(child, :truncate => 60, :project => (issue.project_id != child.project_id)) %>
          </td>
          <td class="status">
            <%= content_tag('span', h(child.status)) %>
          </td>
          <td class="assignee">
            <%= link_to_user(child.assigned_to) %>
          </td>
          <td class="estimated">
            <%= estimated_hours %>
          </td>
          <td class="spent <%= hours_css_class %>">
            <%= spent_hours %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</form>
