<form>
<div class="autoscroll">
  <table class="list issues">
    <thead>
      <tr>
        <th><%= t 'views.table_headers.subject' %></th>
        <th><%= t 'views.table_headers.status' %></th>
        <th><%= t 'views.table_headers.assignee' %></th>
        <th><%= t 'views.table_headers.estimated' %></th>
        <th><%= t 'views.table_headers.spent' %></th>
        <th><%= link_to image_tag('toggle_check.png'), {},
                              :onclick => 'toggleIssuesSelection(this); return false;',
                              :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %></th>
      </tr>
    </thead>
    <tbody>
      <%
        issue_list(issue.descendants.visible.sort_by(&:lft)) do |child, level|
          css_class = "issue issue-#{child.id} status-#{child.status.id} hascontextmenu"
          css_class << " idnt idnt-#{level}" if level > 0
          estimated_hours = child.estimated_hours.to_f.round 2
          total_spent_hours = child.total_spent_hours.to_f.round 2
          estimated_hours_css = issue_estimated_hours_css_for estimated_hours, total_spent_hours
          spent_hours_css = issue_spent_hours_css_for estimated_hours, total_spent_hours
      %>
        <tr class="<%= css_class %>">
          <td class="subject">
            <%= modified_link_to_issue(child, :truncate => 60, :project => (issue.project_id != child.project_id)) %>
            <%= call_hook :blocked_reason_tag_for, issue: child %>
          </td>
          <td class="status">
            <%= content_tag('span', h(child.status)) %>
          </td>
          <td class="assignee">
            <%= link_to_user(child.assigned_to) %>
          </td>
          <td class="estimated <%= estimated_hours_css %>">
            <%= estimated_hours %>
          </td>
          <td class="spent <%= spent_hours_css %>">
            <%= total_spent_hours %>
          </td>
          <td class="checkbox">
            <%= check_box_tag("ids[]", child.id, false, :id => nil) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</form>
